/*Body Styling*/
body{
    margin: 0;
    font-family: helvetica;
    background-color: #f3f3f3;
    text-align: center;
}

/*Style Presets*/
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

/*Jumbotron*/
#jumbotron{
    display: block;
    color: aliceblue;
    position: relative;
    background-image: url(/res/media/images/backimage.png);
    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.8)), url(/res/media/images/backimage.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center; 
    height: 30%;
    text-align: center;
}
#jumbotron h1.title{
    font-size: 3em;
    color: aliceblue;
    text-align: center;
    padding: .5em;;
}
#jumbotron .contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#jumbotron a{
    color: inherit;
    border: solid azure 2px;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    transition: color .7s, background-color .7s;
    text-align: center;
}
#jumbotron a:hover{
    color: black;
    background-color: azure;
}

/*Mini Jumbotron*/
#minitron{
    display: block;
    color: aliceblue;
    position: relative;
    background-image: url(/res/media/images/backimage.png);
    background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.8)), url(/res/media/images/backimage.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center; 
    height: 20%;
    text-align: center;
}
#minitron .title{
    font-size: 3em;
    color: aliceblue;
    text-align: center;
    padding: .4em;
}
#minitron .contain{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0%, -50%);
}

#feed{
    text-align: center;
}

/*Mobile Changes*/
@media only screen and (max-width: 426px){
    #headerspacer.desktop{
        display: none;
    }
    #headerspacer.mobile{
        display: block;
    }
    
    #jumbotron{
        z-index: -100000;
    }
    #jumbotron h1.title{
        font-size: 2.5em;
    }
    #jumbotron a{
        display: none;
    }
    
    #minitron{
        z-index: -100000;
    }
    #minitron .title{
        font-size: 2em;
    }
    
    #header .desktop{
        display: none;
    }
    #header .mobile{
        display: block;
    }
}

/*Tablet Changes*/
@media only screen and (max-width: 768px){
    #jumbotron a{
        display: none;
    }
    
    #minitron .title{
        font-size: 2em;
    }
}
