@keyframes wide {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.feeditem{
  animation-name: wide;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 2px 2px 5px #cccccc;
}
.feeditem hr{
    margin: 0px;
    border: solid rgba(1,1,1,.2) .1px;
}
.feeditem .link{
    text-decoration: none;
    color: dodgerblue;
    text-align: left;
    font-size: 1.5em;
    word-wrap: break-word;
}
.feeditem .link .desc{
    font-size: .7em;
    color: forestgreen;
}
.feeditem a:visited{
    color: blueviolet;
}
.feeditem .feeddate{
    font-size: .7em;
    color: slategray
}
.feeditem .feedcontent{
    font-size: 1.4em;
    color: dimgray;
}
